<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="android.cpe.first.world.to.race.racetoworldfirst">
  <uses-permission android:name="android.permission.INTERNET" />
  <application android:allowBackup="true"
               android:label="@string/app_name"
               android:icon="@drawable/ic_launcher"
               android:theme="@style/AppTheme">
    <activity android:name=".wowapi.Main"/>
  </application>

</manifest>
